<h1><%= @pref %></h1>

<p>取得時間 <%= @wdata.get_time.localtime.strftime("%H:%M") %></p>

<h3>今日の天気</h3>
<div>
  <h4><%= image_tag(@icon)%><%= @wdata.main %></h4>
  <table border = "1" class="weather">
    <thead>
      <tr>
        <%@data.each_with_index do |(k, v), i| %>
          <% if v %> <th> <%= k %> <% end %>
        <% end%>
    <tbody>
      <tr>
        <%@data.each_with_index do |(k, v), i| %>
          <% if v %> <td><%= v %> <% end %>
        <% end %>
  </table>
</div>

<h3>今後の予報</h3>
<div>
  <table border = "1" class="weather">
    <thead>
      <tr>
        <% @params_fc.each_with_index do |(k, v), i| %>
          <th> <%= v %>
        <% end %>
    <tbody>
      <% @fdata.each do |i| %>
        <tr>
          <% @params_fc.each do |k, v| %>
            <td>
            <% if (p = i.send(k)).is_a?(ActiveSupport::TimeWithZone)%>
              <%= p.strftime("%m/%d %H:%M") %>
            <% else %>
              <%= p %>
            <% end %>
          <% end %>
      <% end %>
  </table>
</div>
